{% extends 'base.html' %}

{% block title %}
Event Details
{% endblock %}

{% block content %}

<div class="card">
        <div class="card-header">
          Event Details
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ event.name }}</h4>
          <p class="card-text">{{ event.date_from }} - {{ event.date_to }} {{ event.time_from }} - {{ event.time_to }} </p>
          <p class="card-text">Venue:{{ event.venue }}</p>
          <p class="card-text">MaxSlots:{{ event.max_slots }}</p>
          <p class="card-text">{{ event.description }}</p>
        </div>
      </div>
      

     {{ event.name }}
     {{ event.venue }}
     {{ event.description}}

{% endblock %}